.imgContainer {
  width: 100%;
  position: relative !important;
  height: 450px;
  overflow: hidden;
}

.contentInfo {
  position: absolute;
  left: 0;
  top: 0;
  margin: 2rem 2rem 0;
  padding: 0.5rem 1rem 0.5rem;
  border: 1px solid var(--color-primary);
  border-radius: 5px;
  background-color: var(--color-primary);
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}
