@import "../../styles/mixins";
.imgContainer {
  width: 100%;
  position: relative !important;
  height: 600px;
  overflow: hidden;
}
@include mobile {
  .imgContainer {
    height: 450px;
  }
  .slogan,
  .contentInfo {
    font-size: 12px;
  }
}
@include largeScreen {
  .imgContainer {
    height: 800px;
  }
  .slogan,
  .contentInfo {
    font-size: 20px;
  }
}

@include xLargeScreen {
  .imgContainer {
    height: 1000px;
  }
  .slogan,
  .contentInfo {
    font-size: 24px;
  }
}

.contentInfo {
  position: absolute;
  left: 0;
  top: 0;
  margin: 2rem 2rem 0;
  padding: 0.5rem 1rem 0.5rem;
  border: 1px solid var(--color-primary);
  border-radius: 5px;
  color: var(--color-cream);
  font-weight: bold;
  background-color: var(--color-primary);
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}
.slogan {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 2rem 2rem 2rem;
  font-weight: 600;
  color: var(--color-primary);
  border: 1px solid var(--color-cream);
  background-color: var(--color-cream);
  padding: 0.2rem 0.5rem 0.2rem;
  border-radius: 10px;
  text-transform: capitalize;
}
