@import "../../styles/mixins";
.container {
  padding: 1rem 1rem 0;
  display: flex;
  justify-content: space-between;
  background-color: var(--color-secondary-logo);
  color: var(--color-primary-light);
  margin-top: 2rem;
}
@include mobile {
  .container {
    flex-direction: column;
  }
  .columnContainer {
    margin-bottom: 1.5rem;
  }
  .firstCol {
    display: flex;
    justify-content: space-between;
  }
}
.columnContainer {
  p {
    margin: 0.5rem 0 0.5rem;
  }
  h3 {
    margin-bottom: 0.5rem;
    font-weight: 600;
    font-size: 20px;
  }
}

.columnContainer {
  margin-right: 0.5rem;
  flex: 1;
}
.rowContainer {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--color-primary-light);
  padding-bottom: 0.2rem;
  margin-bottom: 0.8rem;
}
.icon {
  display: inline-block;
  font-size: 24px;
  margin-right: 1rem;
  color: var(--color-primary-logo);
}

@include mobile {
  .columnContainer {
    p {
      font-size: 12px;
    }
    h3 {
      font-size: 16px;
    }
  }
  .rowContainer {
    span {
      font-size: 70%;
      max-width: 80%;
    }
  }
}
