@import "../../styles/mixins";
.container {
  padding: 1rem 2rem 0;
  display: flex;
  justify-content: space-between;
  background-color: var(--color-secondary-logo);
  color: var(--color-primary-light);
  margin-top: 2rem;
}
.columnContainer {
  p {
    margin: 0.5rem 0 0.5rem;
  }
}
.columnContainer:first-child {
  margin-right: 2rem;
}
.rowContainer {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--color-primary-light);
  padding-bottom: 0.2rem;
  margin-bottom: 0.8rem;
}
.icon {
  display: inline-block;
  font-size: 24px;
  margin-right: 0.8rem;
  color: var(--color-primary-logo);
}

@include mobile {
  .columnContainer {
    p {
      font-size: 70%;
    }
    h3 {
      font-size: 90%;
    }
  }
  .rowContainer {
    span {
      font-size: 70%;
      max-width: 80%;
    }
  }
}
