@import "../../styles/mixins";

.container {
  @include flexCenter();
  padding: 2rem;
  background: var(--color-primary-light);
  font-family: "Poppins", sans-serif;
}

.listItems {
  display: flex;

  li {
    padding-right: 1rem;
    color: var(--color-primary-logo);
  }
}

.content {
  @include flexCenter();
}

.imageContainer {
  text-align: center;
  display: flex;
  align-items: center;
  img {
    margin-left: 0.8rem;
    cursor: pointer;
  }
}

.logo {
  border-radius: 50%;
}
