@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  --color-primary-logo: #f25915;
  --color-primary: #e98a01;
  --color-primary-light: #eadac1;
  --color-secondary-logo: #163c23;
  --color-white: #fff;
  --color-cream: #faf1e4;
  --color-black: #000;
  --color-gray: #b4b8bf;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
}
ul,
h1,
h2,
h3,
h4,
p,
button,
li,
a,
input,
svg,
path,
Link {
  margin: 0;
  padding: 0;
}

a,
li,
button,
svg {
  color: inherit;
  text-decoration: none;
  list-style-type: none;
  background-color: transparent;
  border: none;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  color: var(--color-primary);
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: var(--color-primary) !important;
}
.swiper-slide-prev {
  opacity: 0 !important;
}
