* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  --color-primary: #f25915;
  --color-secondary: #163c23;
  --color-white: #fff;
  --color-black: #000;
  --color-gray: #b4b8bf;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
ul,
h1,
h2,
h3,
h4,
p,
button,
li,
a,
input,
Link {
  margin: 0;
  padding: 0;
}

a,
li {
  color: inherit;
  text-decoration: none;
  list-style-type: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
